html, body,#app,#root{
  margin: 0;
  position: relative;

  height: 100%;
}

header{
  background-color: blue;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

main{
  background-color: gray;
  margin-top: 85px;
  height: 100%;
}

footer{
  background-color: cadetblue;
  position: absolute;
  bottom: 0;
  width: 100%;
}