html, body,#app,#root{
  margin: 0;
  position: relative;
  height: 100%;
  color: rgb(240, 240, 240);
}


header{
  background-color: rgb(57, 57, 57);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3{
  white-space: nowrap;
  margin-right: 5px;
}

header .header{
  width: 100%;
  display: flex;
  align-items: center;
}

nav{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

nav a{
  text-decoration: none;
  color: white;
}


main{
  background-color: gray;
  height: 300vh;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#greeting{
  background-color: aqua;
}

#about{
  background-color: burlywood;
}

#our-coaches{
  background-color: violet;
}

footer{
  background-color: cadetblue;
  position: relative;
  bottom: 0;
  margin: 0;
  width: 100%;
}