html, body,#app,#root{
  margin: 0;
  position: relative;
  height: 100%;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}

header{
  background-color: rgb(144, 144, 144);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

main{
  background-color: gray;
  height: 300vh;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section{
  height: 100%;
  width: 100%;
}

#greeting{
  background-color: aqua;
}

#about{
  background-color: burlywood;
}

#our-coaches{
  background-color: violet;
}

footer{
  background-color: cadetblue;
  position: relative;
  bottom: 0;
  margin: 0;
  width: 100%;
}