.coaches-container{
  display: flex;
  justify-content: space-around;
  height: 50%;
}
.coach-card{
  background-color: rgb(33, 33, 33);
  border-radius: 5px;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.coach-card:hover{
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(134, 134, 202), 0 0 5px darkblue;
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(134, 134, 202), 0 0 5px darkblue;

}

.coach-card img{
  width: 80%;
}